/* Calculator container */
.calculator {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Display */
.calculator__display {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}

/* Buttons */
.calculator__button {
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin: 5px;
  min-width: 50px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.calculator__button:hover {
  background-color: #ccc;
}

.calculator__button--operator {
  background-color: #f09a36;
  color: #fff;
}

.calculator__button--operator:hover {
  background-color: #f2aa59;
}

.calculator__button--clear {
  background-color: #e74c3c;
  color: #fff;
}

.calculator__button--clear:hover {
  background-color: #d64739;
}

.calculator__button--equal {
  background-color: #2ecc71;
  color: #fff;
}

.calculator__button--equal:hover {
  background-color: #29b765;
}
